body
{
    font-family: Cambria;
    background-color: black;
    color: aqua;
}
header
{
    height: 90px;
    background-color: azure;
    color: black;
    border: 7px red dashed;
    box-sizing:content-box;
}
.content
{
    background-color: blue;
    border: 5px white double;
    color: azure;
    height: 10vh;
    text-align: center;
    margin: 10px 0px;
    padding: 1px;
    box-sizing: border-box;
}
footer
{
    background-color: azure;
    color: red;
    text-align: center;
    border: 4px red solid;
    width: 70px;
    border-radius: 7px;
}